<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar class="new-background-color">
      <!-- <ion-title size="large">{{ folder }}</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header *ngIf="isLogin">
        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
        <ion-card-title>สวัสดี {{ displayName }}</ion-card-title>
      </ion-card-header>
      <ion-card-header *ngIf="!isLogin">
        <!-- <ion-card-subtitle>ยินดีต้อนรับ</ion-card-subtitle> -->
        <ion-card-title>ยินดีต้อนรับ</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <img *ngIf="isLogin" src="{{pictureUrl}}" style="align-items: center;" width="150px" />
        <img *ngIf="!isLogin" src="{{img}}" style="align-items: center;" width="150px" />
      </ion-card-content>
    </ion-card>

    <ion-button (click)="onClick()" expand="full" shape="round">Send Message</ion-button>
    <ion-button (click)="onClick()" expand="full" shape="round">Share Target Picker</ion-button>
    <ion-button (click)="onClick()" expand="full" shape="round">Open Window</ion-button>
    <ion-button (click)="onClick()" expand="full" shape="round">Scan Code</ion-button>
    <ion-button (click)="onClick()" expand="full" shape="round">Logout</ion-button>
    <ion-button (click)="onClick()" expand="full" shape="round">Close</ion-button>
  </div>
</ion-content>